include ./pug/mixins

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Trang chủ
  link(rel='stylesheet' href='/css/style.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=DM+Sans:opsz,wght@9..40,500&display=swap' rel='stylesheet')
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  script(src='/js/home.js')
header
  .container-menu
    .logo-menu-div
      a.logo-menu(href="/") News
    .news-div
      ul.menu      
        li
          a(id = 'home', href="/") Trang chủ
        li
          a(id = 'newsEvent', href="/search_category?category='news'") Tin tức sự kiện
        li
          a(id = 'addmisions', href="/search_category?category='addmissions'") Tuyển sinh
        li
          a(id = 'technology', href="/search_category?category='technology'") Khoa học công nghệ

body 
  .container
      //- section.hot-news
      //-     a(href="").header-hot-news 
      //-         img(src="https://source.unsplash.com/random", alt="#").hot-news-imgae
      //-         .hot-news-content 
      //-             .hot-news-title 
      //-                 h2 Money Heist spin-off series Berlin: Netflix release date, trailer, cast details from Tudum 
      //-             .hot-news-item 
      //-               img(src="./images/logo-phenikaa.png", alt="").hot-news-name-university 
      //-               span.hot-news-time (15 minutes ago)

      //- section.latest-news
      //-   h2.first-title
      //-       a(href="") Tin tức mới nhất
      //-   .list-latest-news 
      //-     +latest-news 
      //-     +latest-news 
      //-     +latest-news 
      //-     +latest-news 
      //-     +latest-news 
      //-     +latest-news 
      //-     +latest-news 
      //-     +latest-news 
      //-     +latest-news 
          
         

      section.news-event
        h2.first-title
            a(href="/search_category?category='news'") Tin tức sự kiện
        .list-news-event 
          each data in datas['news']
            a(href= data.source_post).news
              img(src= data.main_image, alt="").news-image
              h3.news-title #{data.title}
              .news-item 
                span.name-university #{data.publication}
                span.news-time #{moment(data.date_post).format('YYYY-MM-DD')}

      section.addmisions
        h2.first-title
            a(href="/search_category?category='addmissions'") Tuyển sinh
        .list-addmisions 
          each data in datas['addmisions']
            a(href= data.source_post).news-addmisions
              img(src= data.main_image, alt="").news-image
              h3.news-title #{data.title}
              .news-item 
                span.name-university #{data.publication}
                span.news-time #{moment(data.date_post).format('YYYY-MM-DD')}


      section.technology
        h2.first-title
            a(href="/search_category?category='technology'") Khoa học công nghệ
        .list-technology 
          each data in datas['technology']
            a(data.source_post).news-technology
              img(src= data.main_image, alt="").news-image
              h3.news-title #{data.title}
              .news-item 
                span.name-university #{data.publication}
                span.news-time #{moment(data.date_post).format('YYYY-MM-DD')}
          